<!-- <div
  [ngStyle]="{
    height: '200px',
    width: '200px',
    border: '1px solid #ccc',
    backgroundColor: backgroundToggle ? 'grey' : 'blue'
  }"
></div> -->
<button (click)="backgroundToggle = !backgroundToggle">Change color</button>
<p
  [ngStyle]="{ color: '#fff' }"
  [ngClass]="{ red: backgroundToggle, blue: !backgroundToggle }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, vitae
  pariatur, iusto labore possimus quas, atque dignissimos numquam inventore
  fugit voluptatibus temporibus reiciendis consequatur tempora! Facilis est
  itaque unde illo!
</p>
